name: release-pypiano

on:
  push:
    tags:
      - v*
permissions:
  checks: write
  contents: write
  packages: read
jobs:
  python-application-build:
    runs-on: ubuntu-latest
    name: Run build
  tests:
    name: Run tests and check code
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python: [3.9]
    steps:    
      - name: Setup PSE
        uses: invisirisk/pse-action@latest
        with:
          api_url: "https://app.stage.invisirisk.com"
          app_token: ${{secrets.IR_API_KEY}}

      - uses: actions/checkout@v4

      - name: Use Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.13"

      - name: Install dependencies
        run: pip install -r requirements.txt


      - name: Cleanup PSE
        if: always()
        uses: invisirisk/pse-action@latest
        with:
          cleanup: "true"
          
      - name: Install Tox and any other packages
        run: |
          sudo apt-get update
          sudo apt-get install -y fluidsynth
          pip install -r requirements.txt
      - name: Run Tox
        run: tox
  make-github-release:
    name: Create Release on Github
    needs: tests
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Create Release
        id: create_release
        uses: actions/create-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }} # This token is provided by Actions, you do not need to create your own token
        with:
          tag_name: ${{ github.ref }}
          release_name: Release ${{ github.ref }}
          draft: false
          prerelease: false
  make-pypi-release:
    name: Release to PyPI
    runs-on: ubuntu-latest
    needs: tests
    steps:
    - name: Checkout code
      uses: actions/checkout@v2
      with:
        lfs: true
    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: '3.x'
    - name: Install dependencies for pypi release
      run: |
        python -m pip install --upgrade pip
        pip install setuptools wheel twine
    - name: Build and publish
      env:
        TWINE_USERNAME: ${{ secrets.PYPI_USERNAME }}
        TWINE_PASSWORD: ${{ secrets.PYPI_PASSWORD }}
      run: |
        python setup.py sdist bdist_wheel
        twine upload dist/*
  gather_analytics:
    runs-on: ubuntu-latest
    name: Gather Analytics
    needs: python-application-build
    if: always()
    steps:
      - name: Gather Status
        uses: invisirisk/pse-action@latest
        with:
          api_url: "https://app.stage.invisirisk.com"
          app_token: ${{secrets.IR_API_KEY}}
          send_job_status: "true"
          debug: "true"
